* {
  margin:0px;
  padding:0px;
}

#intro {
	display: block;
	width: 90%;
	margin: 0px auto;
}

p {
	display: block;
	width: 90%;
	margin: 0px auto;
	font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}



